workflows/activation-workflow.json
{
    "name": "Website Activation Receiver",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "activate-site",
                "responseMode": "responseNode",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ],
            "id": "webhook-trigger",
            "name": "Webhook (Activation Form)"
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={\n  \"status\": \"success\",\n  \"message\": \"Activation received for \" + $json.businessName,\n  \"processId\": $executionId\n}",
                "options": {}
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                500,
                300
            ],
            "id": "respond-success",
            "name": "Respond to Form"
        },
        {
            "parameters": {
                "authentication": "oAuth2",
                "operation": "append",
                "sheetId": {
                    "__rl": true,
                    "mode": "id",
                    "value": ""
                },
                "range": "A:Z",
                "options": {
                    "valueInputOption": "USER_ENTERED"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "Business Name": "={{ $json.businessName }}",
                        "Contact Name": "={{ $json.fullName }}",
                        "Role": "={{ $json.role }}",
                        "Email": "={{ $json.businessEmail }}",
                        "Phone": "={{ $json.phone }}",
                        "Address": "={{ $json.officeAddress }}",
                        "Date": "={{ $now.toISO() }}",
                        "Services": "={{ $json.services }}",
                        "Bio": "={{ $json.bio }}",
                        "Domain Status": "={{ $json.hasDomain }}"
                    }
                }
            },
            "name": "Save to Google Sheets",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.5,
            "position": [
                750,
                200
            ],
            "id": "save-to-sheets"
        },
        {
            "parameters": {
                "sendTo": "support@royscompany.com",
                "subject": "={{ \"🚀 New Activation: \" + $json.businessName }}",
                "message": "={{ \"New website activation received!\\n\\nClient: \" + $json.fullName + \"\\nBusiness: \" + $json.businessName + \"\\nEmail: \" + $json.businessEmail + \"\\nPhone: \" + $json.phone + \"\\n\\nCheck Google Sheets for full details.\" }}",
                "options": {}
            },
            "name": "Gmail - Notify Admin",
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2.1,
            "position": [
                750,
                400
            ],
            "id": "notify-admin"
        }
    ],
    "connections": {
        "Webhook (Activation Form)": {
            "main": [
                [
                    {
                        "node": "Respond to Form",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Save to Google Sheets",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Gmail - Notify Admin",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}