workflows/batch-website-generator.json
{
    "name": "Batch Website Generator",
    "nodes": [
        {
            "parameters": {},
            "id": "manual-trigger",
            "name": "When clicking \"Execute Workflow\"",
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "httpMethod": "GET",
                "path": "run-batch",
                "responseMode": "responseNode",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                100
            ],
            "id": "webhook-trigger",
            "name": "Webhook (Run Batch)"
        },
        {
            "parameters": {
                "documentId": {
                    "__rl": true,
                    "mode": "id",
                    "value": "163IHmrJmhEn5x2sfi1PTMG5wavtdr5QiJq5tR_mgfXA"
                },
                "sheetName": {
                    "__rl": true,
                    "mode": "name",
                    "value": "Sheet1"
                },
                "options": {}
            },
            "id": "read-leads",
            "name": "Read Leads from Sheet",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.5,
            "position": [
                450,
                300
            ],
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "KtDaFIOItvL4H7UDe",
                    "name": "Google Sheets Account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "return $input.all().filter(item => !item.json[\"Website URL\"] || item.json[\"Website URL\"] === \"\");"
            },
            "id": "filter-processed",
            "name": "Filter: Processed Leads",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                650,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://pshjpksmzvwyzugrbmiu.supabase.co/functions/v1/provision-site",
                "sendBody": true,
                "contentType": "json",
                "body": "={{ { agent_data: { agent_name: $json.name || $json[\"Business Name\"], brokerage: \"Real Estate\", bio: \"Specializing in luxury properties.\", city_area: $json.address || \"City\" }, save_to_storage: true } }}",
                "options": {}
            },
            "id": "provision-site",
            "name": "Generate Website",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                850,
                300
            ]
        },
        {
            "parameters": {
                "operation": "update",
                "documentId": {
                    "__rl": true,
                    "mode": "id",
                    "value": "163IHmrJmhEn5x2sfi1PTMG5wavtdr5QiJq5tR_mgfXA"
                },
                "sheetName": {
                    "__rl": true,
                    "mode": "name",
                    "value": "Sheet1"
                },
                "columnToMatchOn": "name",
                "valueToMatchOn": "={{ $json.name }}",
                "fieldsToUpdate": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "Website URL": "={{ $json.website_url }}"
                    }
                }
            },
            "id": "update-sheet",
            "name": "Update URL in Sheet",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.5,
            "position": [
                1050,
                300
            ],
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "KtDaFIOItvL4H7UDe",
                    "name": "Google Sheets Account"
                }
            }
        }
    ],
    "connections": {
        "When clicking \"Execute Workflow\"": {
            "main": [
                [
                    {
                        "node": "Read Leads from Sheet",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook (Run Batch)": {
            "main": [
                [
                    {
                        "node": "Read Leads from Sheet",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Read Leads from Sheet": {
            "main": [
                [
                    {
                        "node": "Filter: Processed Leads",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Filter: Processed Leads": {
            "main": [
                [
                    {
                        "node": "Generate Website",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate Website": {
            "main": [
                [
                    {
                        "node": "Update URL in Sheet",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}