workflows/campaign-runner.json
{
    "name": "Campaign Runner (Auto-Build & Outreach)",
    "nodes": [
        {
            "parameters": {
                "pollTimes": {
                    "item": [
                        {
                            "mode": "everyMinute"
                        }
                    ]
                },
                "documentId": {
                    "value": "163IHmrJmhEn5x2sfi1PTMG5wavtdr5QiJq5tR_mgfXA",
                    "mode": "id"
                },
                "sheetName": {
                    "value": "Sheet1",
                    "mode": "name"
                },
                "options": {}
            },
            "id": "trigger-new-leads",
            "name": "Google Sheets Trigger",
            "type": "n8n-nodes-base.googleSheetsTrigger",
            "typeVersion": 1,
            "position": [
                -1856,
                -80
            ],
            "credentials": {
                "googleSheetsTriggerOAuth2Api": {
                    "id": "DMCPZX0C2DRgszu4",
                    "name": "Google Sheets Trigger account"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": false,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 1
                    },
                    "conditions": [
                        {
                            "id": "filter-new",
                            "leftValue": "={{ $json.status }}",
                            "rightValue": "New Lead",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "id": "filter-status",
            "name": "Filter New Leads",
            "type": "n8n-nodes-base.filter",
            "typeVersion": 2,
            "position": [
                -1632,
                -80
            ]
        },
        {
            "parameters": {
                "operation": "update",
                "documentId": {
                    "mode": "id",
                    "value": "163IHmrJmhEn5x2sfi1PTMG5wavtdr5QiJq5tR_mgfXA"
                },
                "sheetName": {
                    "mode": "name",
                    "value": "Sheet1"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "status": "processing"
                    }
                },
                "options": {}
            },
            "id": "set-processing",
            "name": "Set Processing Status",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.4,
            "position": [
                -1408,
                -80
            ],
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "KtDaFIOItvL4H7UDe",
                    "name": "Google Sheets Account"
                }
            }
        },
        {
            "parameters": {
                "batchSize": 1,
                "options": {}
            },
            "id": "split-in-batches",
            "name": "Split In Batches",
            "type": "n8n-nodes-base.splitInBatches",
            "typeVersion": 1,
            "position": [
                -1200,
                -80
            ]
        },
        {
            "parameters": {
                "jsCode": "const data = $input.first().json;\n// Prioritize Company Name from the batch node if available, otherwise fallback to current item\nconst company = data[\"Company Name\"] || data.Name || data.name || \"Business\";\nconst encodedCompany = encodeURIComponent(company);\n\n// Generate URL matching the user's requested format\nconst demoUrl = `https://royal-ascend-site.lovable.app/template?business_name=${encodedCompany}`;\n\n// Generate Email Content\nconst emailSubject = `I built a website for you (Preview inside)`;\nconst emailBody = `Hi ${company.split(' ')[0]},\n\nI built a modern, high-conversion website specifically for agents who don’t currently have an optimized online presence — and I already created yours.\n\nIt includes online booking, service listings, and is fully SEO optimized.\n\nCheck it out here: ${demoUrl}\n\nIf you want to keep it, you can secure it here: https://buy.stripe.com/5kA8y8c0g2q4dUY5kk`;\n\nreturn [{\n  json: {\n    demoUrl,\n    emailSubject,\n    emailBody,\n    ...data\n  }\n}];"
            },
            "id": "generate-link",
            "name": "Generate Template Link",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -950,
                -80
            ]
        },
        {
            "parameters": {
                "operation": "update",
                "documentId": {
                    "mode": "id",
                    "value": "163IHmrJmhEn5x2sfi1PTMG5wavtdr5QiJq5tR_mgfXA"
                },
                "sheetName": {
                    "mode": "name",
                    "value": "Sheet1"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "status": "site_deployed",
                        "website_link": "={{ $json.demoUrl }}",
                        "email_subject": "={{ $json.emailSubject }}",
                        "email_body": "={{ $json.emailBody }}"
                    }
                },
                "options": {}
            },
            "id": "update-sheet",
            "name": "Update Sheet - Deployed",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.4,
            "position": [
                -750,
                -80
            ],
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "KtDaFIOItvL4H7UDe",
                    "name": "Google Sheets Account"
                }
            }
        },
        {
            "parameters": {
                "amount": 2,
                "unit": "seconds"
            },
            "id": "wait-node",
            "name": "Wait 2s",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1,
            "position": [
                -550,
                -80
            ]
        }
    ],
    "connections": {
        "Google Sheets Trigger": {
            "main": [
                [
                    {
                        "node": "Filter New Leads",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Filter New Leads": {
            "main": [
                [
                    {
                        "node": "Set Processing Status",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Set Processing Status": {
            "main": [
                [
                    {
                        "node": "Split In Batches",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Split In Batches": {
            "main": [
                [
                    {
                        "node": "Generate Template Link",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Generate Template Link": {
            "main": [
                [
                    {
                        "node": "Update Sheet - Deployed",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update Sheet - Deployed": {
            "main": [
                [
                    {
                        "node": "Wait 2s",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Wait 2s": {
            "main": [
                [
                    {
                        "node": "Split In Batches",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}