workflows/campaign-automation.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "start-campaign",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "8b4aec9b-91d1-4b58-9ef5-9b1c6f2adc4c",
      "name": "Start Campaign Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        224,
        -176
      ],
      "webhookId": "start-campaign"
    },
    {
      "parameters": {
        "projectId": "royalsolutions-921b9",
        "collection": "campaigns"
      },
      "id": "6ee7df38-55f1-47c8-84da-849f3ca145a1",
      "name": "Create Campaign",
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1,
      "position": [
        512,
        -176
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, campaignId: $json.id, message: 'Campaign created' } }}",
        "options": {}
      },
      "id": "c88383d0-eccc-40f0-b8e5-0b0b0e162637",
      "name": "Respond Campaign Created",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        784,
        -176
      ]
    },
    {
      "parameters": {},
      "id": "305459d6-e975-400d-a580-577745c17b31",
      "name": "Get Apify Results",
      "type": "n8n-nodes-base.apify",
      "typeVersion": 1,
      "position": [
        -176,
        224
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a6be43d7-3515-4a12-916a-5d2ba191385e",
      "name": "Split Into Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1184,
        288
      ]
    },
    {
      "parameters": {
        "projectId": "royalsolutions-921b9",
        "collection": "leads"
      },
      "id": "09ad9a7f-e6ae-495f-b8bc-ea843cd60e7f",
      "name": "Create Lead in Firestore",
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1,
      "position": [
        672,
        48
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.website !== null && $json.website !== '' }}",
              "value2": true
            }
          ]
        }
      },
      "id": "787f42c7-a28b-44d0-9831-0515ddbf6a4b",
      "name": "Has Website?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        848,
        48
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.website }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "7c2b04fe-7770-46d1-8fa1-05e896a83489",
      "name": "Fetch Website",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1056,
        32
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "messages": {
          "values": [
            {
              "content": "You are a business automation consultant analyzing websites for potential clients. Analyze this website and provide:\n\n1. A score from 0-100 based on how much they could benefit from automation (higher = more opportunity)\n2. 3-5 specific findings about their current digital presence\n3. 3-5 specific automation recommendations\n4. A personalized outreach email (professional, not salesy)\n\nRespond in this exact JSON format:\n{\n  \"score\": number,\n  \"findings\": [\"finding1\", \"finding2\", ...],\n  \"recommendations\": [\"rec1\", \"rec2\", ...],\n  \"generatedEmail\": \"email text here\"\n}\n\nWebsite content to analyze:\n{{ $json.data }}"
            }
          ]
        },
        "options": {
          "temperature": 0.7
        }
      },
      "id": "82e9dd8e-1e69-47ba-8897-17c1698f2b1f",
      "name": "AI Website Audit",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [
        1328,
        -80
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse AI response\nconst response = $input.first().json;\nlet auditData;\n\ntry {\n  // Try to extract JSON from the response\n  const text = response.message?.content || response.text || JSON.stringify(response);\n  const jsonMatch = text.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    auditData = JSON.parse(jsonMatch[0]);\n  } else {\n    throw new Error('No JSON found');\n  }\n} catch (e) {\n  // Fallback if parsing fails\n  auditData = {\n    score: 50,\n    findings: ['Unable to fully analyze website'],\n    recommendations: ['Manual review recommended'],\n    generatedEmail: 'Hi, I noticed your business might benefit from automation solutions. Would you be open to a quick call?'\n  };\n}\n\nreturn {\n  json: {\n    ...auditData,\n    leadId: $('Create Lead in Firestore').item.json.id\n  }\n};"
      },
      "id": "8ed14b1d-c1eb-4f9c-9d28-ee610240bc26",
      "name": "Parse Audit Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1456,
        288
      ]
    },
    {
      "parameters": {
        "operation": "update"
      },
      "id": "252fcd30-c060-48cc-bd07-c9e66f899e0b",
      "name": "Update Lead with Audit",
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1,
      "position": [
        1648,
        288
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.audit?.score || 0 }}",
              "operation": "largerEqual",
              "value2": 40
            }
          ]
        }
      },
      "id": "73aec55e-1b61-4f8b-9d53-4c09a7b38454",
      "name": "Score >= 40?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1888,
        288
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $('Create Lead in Firestore').item.json.email }}",
        "subject": "Quick question about {{ $('Create Lead in Firestore').item.json.businessName }}",
        "message": "={{ $json.audit.generatedEmail }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "35ff15c3-98bd-42fb-8125-85bd9e55bc0c",
      "name": "Send Outreach Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        2192,
        32
      ],
      "webhookId": "0b856be0-d828-477a-9224-bd632b4c2917"
    },
    {
      "parameters": {
        "operation": "update"
      },
      "id": "bcb183a5-7680-4492-b4ad-93676baa128f",
      "name": "Update Lead - Email Sent",
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1,
      "position": [
        2416,
        32
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vapi-callback",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "55b9e63d-9631-46a6-b71d-10e7e046cfb6",
      "name": "Vapi Callback Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -240,
        544
      ],
      "webhookId": "vapi-callback"
    },
    {
      "parameters": {
        "operation": "update"
      },
      "id": "ed3d618d-d897-4f57-9ca3-f9722cfaefc8",
      "name": "Update Lead - Vapi Call",
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1,
      "position": [
        128,
        544
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, message: 'Vapi call recorded' } }}",
        "options": {}
      },
      "id": "a29c4c35-910f-48a6-8e6f-8f03e93f47ef",
      "name": "Respond Vapi OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        448,
        560
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "email-reply",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "671b836b-9344-4818-9cf3-4bd862fff323",
      "name": "Email Reply Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -240,
        752
      ],
      "webhookId": "email-reply"
    },
    {
      "parameters": {
        "operation": "update"
      },
      "id": "315d27e6-2877-49cd-80f3-3679397e4555",
      "name": "Update Lead - Email Reply",
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1,
      "position": [
        128,
        752
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, message: 'Email reply recorded' } }}",
        "options": {}
      },
      "id": "8b3d3148-c915-4e52-adbc-08d3b57c590e",
      "name": "Respond Email Reply OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        432,
        752
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "close-deal",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "2fdcf12f-8bb9-4bcb-9f19-87c570b241e3",
      "name": "Close Deal Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -240,
        944
      ],
      "webhookId": "close-deal"
    },
    {
      "parameters": {
        "operation": "update"
      },
      "id": "9cb4efe0-282b-4c73-a7b5-ac86463d3c4b",
      "name": "Update Lead - Close Deal",
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "typeVersion": 1,
      "position": [
        128,
        976
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, message: 'Deal closed', value: $json.body.value } }}",
        "options": {}
      },
      "id": "cdb3986f-f99c-4901-9b81-155b380f5ee2",
      "name": "Respond Deal Closed",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        400,
        992
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1264,
        416
      ],
      "typeVersion": 1,
      "id": "84ee1a4e-6fb8-4aba-8d69-4adc1509aaef",
      "name": "Sticky Note"
    }
  ],
  "connections": {
    "Start Campaign Webhook": {
      "main": [
        [
          {
            "node": "Create Campaign",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Campaign": {
      "main": [
        [
          {
            "node": "Respond Campaign Created",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Into Batches": {
      "main": [
        [
          {
            "node": "Create Lead in Firestore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Lead in Firestore": {
      "main": [
        [
          {
            "node": "Has Website?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Website?": {
      "main": [
        [
          {
            "node": "Fetch Website",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split Into Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Website": {
      "main": [
        [
          {
            "node": "AI Website Audit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Website Audit": {
      "main": [
        [
          {
            "node": "Parse Audit Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Audit Response": {
      "main": [
        [
          {
            "node": "Update Lead with Audit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Lead with Audit": {
      "main": [
        [
          {
            "node": "Score >= 40?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score >= 40?": {
      "main": [
        [
          {
            "node": "Send Outreach Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split Into Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Outreach Email": {
      "main": [
        [
          {
            "node": "Update Lead - Email Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Lead - Email Sent": {
      "main": [
        [
          {
            "node": "Split Into Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vapi Callback Webhook": {
      "main": [
        [
          {
            "node": "Update Lead - Vapi Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Lead - Vapi Call": {
      "main": [
        [
          {
            "node": "Respond Vapi OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Reply Webhook": {
      "main": [
        [
          {
            "node": "Update Lead - Email Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Lead - Email Reply": {
      "main": [
        [
          {
            "node": "Respond Email Reply OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Close Deal Webhook": {
      "main": [
        [
          {
            "node": "Update Lead - Close Deal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Lead - Close Deal": {
      "main": [
        [
          {
            "node": "Respond Deal Closed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "c27ab0d976bc3c05346812ce4190e0b2d6f800a161822efa17a6dd9763bd36f4"
  }
}
