workflows/google-maps-leads.json
{
    "name": "Google Maps Lead Finder",
    "nodes": [
        {
            "parameters": {},
            "id": "trigger-node",
            "name": "When clicking \"Execute Workflow\"",
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "values": {
                    "string": [
                        {
                            "name": "searchTerm",
                            "value": "Dentists in Spring, TX"
                        }
                    ]
                },
                "options": {}
            },
            "id": "set-search-term",
            "name": "Set Search Term",
            "type": "n8n-nodes-base.set",
            "typeVersion": 2,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://api.apify.com/v2/acts/compass~crawler-google-places/runs",
                "sendMetadata": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer {{APIFY_API_TOKEN}}"
                        },
                        {
                            "name": "Content-Type",
                            "value": "application/json"
                        }
                    ]
                },
                "options": {},
                "sendBody": true,
                "contentType": "json",
                "body": "={{ JSON.stringify({ searchStringsArray: [ $json.searchTerm ], maxCrawledPlacesPerSearch: 50, includeWebsites: true }) }}"
            },
            "id": "apify-start-run",
            "name": "Apify - Start Scraper",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                650,
                300
            ]
        },
        {
            "parameters": {
                "amount": 20,
                "unit": "seconds"
            },
            "id": "wait-for-completion",
            "name": "Wait for Scraper",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1,
            "position": [
                850,
                300
            ]
        },
        {
            "parameters": {
                "url": "={{ $json.data.defaultDatasetId ? 'https://api.apify.com/v2/datasets/' + $json.data.defaultDatasetId + '/items' : '' }}",
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Authorization",
                            "value": "Bearer {{APIFY_API_TOKEN}}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "get-results",
            "name": "Get Dataset Results",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1050,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "return $input.all().filter(item => !item.json.website || item.json.website === \"\").map(item => {\n  const data = item.json;\n  const company = data.title || \"\";\n  const encodedCompany = encodeURIComponent(company);\n  // Generate demo URL similar to campaign runner\n  const demoUrl = `https://royal-ascend-site.lovable.app/template?business_name=${encodedCompany}`;\n  \n  return {\n    json: {\n      name: data.title,\n      address: data.address,\n      phone: data.phone,\n      email: data.email || \"\",\n      status: \"New Lead\",\n      demo_url: demoUrl,\n      sent_email: \"\"\n    }\n  };\n});"
            },
            "id": "filter-no-website",
            "name": "Filter: No Website & Format",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1250,
                300
            ]
        },
        {
            "parameters": {
                "operation": "append",
                "sheetId": {
                    "__rl": true,
                    "value": "163IHmrJmhEn5x2sfi1PTMG5wavtdr5QiJq5tR_mgfXA",
                    "mode": "id"
                },
                "range": "A:G",
                "options": {}
            },
            "id": "save-to-sheets",
            "name": "Save to Google Sheets",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.1,
            "position": [
                1450,
                300
            ],
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "KtDaFIOItvL4H7UDe",
                    "name": "Google Sheets Account"
                }
            }
        }
    ],
    "connections": {
        "When clicking \"Execute Workflow\"": {
            "main": [
                [
                    {
                        "node": "Set Search Term",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Set Search Term": {
            "main": [
                [
                    {
                        "node": "Apify - Start Scraper",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Apify - Start Scraper": {
            "main": [
                [
                    {
                        "node": "Wait for Scraper",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Wait for Scraper": {
            "main": [
                [
                    {
                        "node": "Get Dataset Results",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Dataset Results": {
            "main": [
                [
                    {
                        "node": "Filter: No Website & Format",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Filter: No Website & Format": {
            "main": [
                [
                    {
                        "node": "Save to Google Sheets",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}