workflows/inbound-handler-workflow.json
{
  "name": "Inbound Reply Handler",
  "nodes": [
    {
      "parameters": {
        "postProcessAction": "nothing",
        "format": "resolved",
        "options": {
          "allowUnauthorized": true,
          "forceEncryption": true
        }
      },
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "id": "imap-trigger",
      "name": "IMAP - New Email",
      "credentials": {
        "imap": {
          "id": "YOUR_IMAP_CREDENTIAL_ID",
          "name": "IMAP Account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.from.text }}",
              "operation": "contains",
              "value2": "royscompany.com"
            }
          ]
        },
        "combineOperation": "any"
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        450,
        300
      ],
      "id": "filter-self",
      "name": "Ignore Self/Internal"
    },
    {
      "parameters": {
        "operation": "lookup",
        "sheetId": {
          "__rl": true,
          "value": "163IHmrJmhEn5x2sfi1PTMG5wavtdr5QiJq5tR_mgfXA",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "lookupColumn": "Email",
        "lookupValue": "={{ $json.from.value[0].address }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        650,
        300
      ],
      "id": "lookup-lead",
      "name": "Find Lead in Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KtDaFIOItvL4H7UDe",
          "name": "Google Sheets Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "sheetId": {
          "__rl": true,
          "value": "163IHmrJmhEn5x2sfi1PTMG5wavtdr5QiJq5tR_mgfXA",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "rowId": "={{ $json.row_number }}",
        "fields": {
          "Status": "Replied",
          "Last Reply": "={{ $node[\"IMAP - New Email\"].json.text }}"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        850,
        300
      ],
      "id": "update-status",
      "name": "Update Status to Replied",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "KtDaFIOItvL4H7UDe",
          "name": "Google Sheets Account"
        }
      }
    },
    {
      "parameters": {
        "content": "🔔 *New Reply Received!*\n\n*From:* {{ $node[\"IMAP - New Email\"].json.from.text }}\n*Subject:* {{ $node[\"IMAP - New Email\"].json.subject }}\n*Snippet:* {{ $node[\"IMAP - New Email\"].json.textPlain.substring(0, 200) }}...",
        "options": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1050,
        300
      ],
      "id": "notify-admin",
      "name": "Telegram - Notify Admin",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Account"
        }
      }
    }
  ],
  "connections": {
    "IMAP - New Email": {
      "main": [
        [
          {
            "node": "Ignore Self/Internal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ignore Self/Internal": {
      "main": [
        null,
        [
          {
            "node": "Find Lead in Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Lead in Sheet": {
      "main": [
        [
          {
            "node": "Update Status to Replied",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status to Replied": {
      "main": [
        [
          {
            "node": "Telegram - Notify Admin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
