workflows/lead-gen-automation-complete.json
{ 
   "name": "Lead Gen Automation - Complete System", 
   "nodes": [ 
     { 
       "parameters": { 
         "rule": { 
           "interval": [ 
             { 
               "field": "cronExpression", 
               "expression": "0 9 * * *" 
             } 
           ] 
         } 
       }, 
       "id": "node-1", 
       "name": "Schedule: Daily 9 AM", 
       "type": "n8n-nodes-base.scheduleTrigger", 
       "typeVersion": 1.2, 
       "position": [240, 300] 
     }, 
     { 
       "parameters": { 
         "assignments": { 
           "assignments": [ 
             { 
               "id": "industry", 
               "name": "industry", 
               "value": "Dental Practice", 
               "type": "string" 
             }, 
             { 
               "id": "location", 
               "name": "location", 
               "value": "Spring, TX", 
               "type": "string" 
             }, 
             { 
               "id": "leadLimit", 
               "name": "leadLimit", 
               "value": "10", 
               "type": "number" 
             } 
           ] 
         }, 
         "options": {} 
       }, 
       "id": "node-2", 
       "name": "Set Target Industry", 
       "type": "n8n-nodes-base.set", 
       "typeVersion": 3.4, 
       "position": [460, 300] 
     }, 
     { 
       "parameters": { 
         "method": "GET", 
         "url": "https://api.outscraper.com/maps/search-v3", 
         "authentication": "predefinedCredentialType", 
         "nodeCredentialType": "httpHeaderAuth", 
         "sendQuery": true, 
         "queryParameters": { 
           "parameters": [ 
             { 
               "name": "query", 
               "value": "={{ $json.industry }} in {{ $json.location }}" 
             }, 
             { 
               "name": "limit", 
               "value": "={{ $json.leadLimit }}" 
             }, 
             { 
               "name": "language", 
               "value": "en" 
             } 
           ] 
         }, 
         "sendHeaders": true, 
         "headerParameters": { 
           "parameters": [ 
             { 
               "name": "X-API-Key", 
               "value": "YOUR_OUTSCRAPER_API_KEY" 
             } 
           ] 
         }, 
         "options": {} 
       }, 
       "id": "node-3", 
       "name": "Scrape Google Maps", 
       "type": "n8n-nodes-base.httpRequest", 
       "typeVersion": 4.2, 
       "position": [680, 300] 
     }, 
     { 
       "parameters": { 
         "fieldToSplitOut": "data", 
         "options": {} 
       }, 
       "id": "node-4", 
       "name": "Split Leads", 
       "type": "n8n-nodes-base.splitOut", 
       "typeVersion": 1, 
       "position": [900, 300] 
     }, 
     { 
       "parameters": { 
         "assignments": { 
           "assignments": [ 
             { 
               "id": "email", 
               "name": "email", 
               "value": "={{ $json.email || '' }}", 
               "type": "string" 
             }, 
             { 
               "id": "businessName", 
               "name": "businessName", 
               "value": "={{ $json.name || 'Unknown Business' }}", 
               "type": "string" 
             }, 
             { 
               "id": "contactName", 
               "name": "contactName", 
               "value": "={{ $json.owner_name || '' }}", 
               "type": "string" 
             }, 
             { 
               "id": "phone", 
               "name": "phone", 
               "value": "={{ $json.phone || '' }}", 
               "type": "string" 
             }, 
             { 
               "id": "website", 
               "name": "website", 
               "value": "={{ $json.site || 'None' }}", 
               "type": "string" 
             }, 
             { 
               "id": "industry", 
               "name": "industry", 
               "value": "={{ $json.category || $('Set Target Industry').item.json.industry }}", 
               "type": "string" 
             }, 
             { 
               "id": "location", 
               "name": "location", 
               "value": "={{ $json.full_address || $('Set Target Industry').item.json.location }}", 
               "type": "string" 
             } 
           ] 
         }, 
         "options": {} 
       }, 
       "id": "node-5", 
       "name": "Extract Lead Data", 
       "type": "n8n-nodes-base.set", 
       "typeVersion": 3.4, 
       "position": [1120, 300] 
     }, 
     { 
       "parameters": { 
         "conditions": { 
           "options": { 
             "caseSensitive": true, 
             "leftValue": "", 
             "typeValidation": "strict" 
           }, 
           "conditions": [ 
             { 
               "id": "condition-1", 
               "leftValue": "={{ $json.email }}", 
               "rightValue": "", 
               "operator": { 
                 "type": "string", 
                 "operation": "notEmpty" 
               } 
             }, 
             { 
               "id": "condition-2", 
               "leftValue": "={{ $json.email }}", 
               "rightValue": "@", 
               "operator": { 
                 "type": "string", 
                 "operation": "contains" 
               } 
             } 
           ], 
           "combinator": "and" 
         }, 
         "options": {} 
       }, 
       "id": "node-6", 
       "name": "Filter Valid Emails", 
       "type": "n8n-nodes-base.filter", 
       "typeVersion": 2, 
       "position": [1340, 300] 
     }, 
     { 
       "parameters": { 
         "operation": "append", 
         "documentId": { 
           "__rl": true, 
           "value": "YOUR_GOOGLE_SHEET_ID", 
           "mode": "id" 
         }, 
         "sheetName": { 
           "__rl": true, 
           "value": "Leads", 
           "mode": "name" 
         }, 
         "columns": { 
           "mappingMode": "defineBelow", 
           "value": { 
             "Date Added": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}", 
             "Business Name": "={{ $json.businessName }}", 
             "Contact Name": "={{ $json.contactName }}", 
             "Email": "={{ $json.email }}", 
             "Phone": "={{ $json.phone }}", 
             "Current Website": "={{ $json.website }}", 
             "Industry": "={{ $json.industry }}", 
             "Location": "={{ $json.location }}", 
             "Status": "New Lead", 
             "Website URL": "", 
             "Email Sent": "FALSE", 
             "Email Sent Date": "", 
             "Email Opened": "FALSE", 
             "Link Clicked": "FALSE", 
             "Payment Status": "Pending", 
             "Revenue": "0", 
             "Days in Pipeline": "=TODAY()-A2", 
             "Next Action": "Generate Website" 
           } 
         }, 
         "options": {} 
       }, 
       "id": "node-7", 
       "name": "Add to Google Sheet", 
       "type": "n8n-nodes-base.googleSheets", 
       "typeVersion": 4.5, 
       "position": [1560, 300], 
       "credentials": { 
         "googleSheetsOAuth2Api": { 
           "id": "REPLACE_WITH_YOUR_GOOGLE_CREDS", 
           "name": "Google Sheets account" 
         } 
       } 
     }, 
     { 
       "parameters": { 
         "method": "POST", 
         "url": "https://api.anthropic.com/v1/messages", 
         "authentication": "predefinedCredentialType", 
         "nodeCredentialType": "httpHeaderAuth", 
         "sendBody": true, 
         "specifyBody": "json", 
         "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 4000,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Create a complete, professional, modern single-page HTML website for {{ $json.businessName }}, a {{ $json.industry }} business located in {{ $json.location }}. Requirements: 1) Inline CSS with modern gradients and animations, 2) Responsive mobile-first design, 3) Hero section with compelling headline about {{ $json.industry }} services, 4) Services/About section highlighting what {{ $json.industry }} businesses offer, 5) Contact form with email submission, 6) Professional color scheme appropriate for {{ $json.industry }} industry, 7) Strong call-to-action buttons, 8) Social proof/testimonials section, 9) Footer with contact info using phone number {{ $json.phone }}. Make it look premium, trustworthy, and conversion-focused. Return ONLY the complete HTML code starting with <!DOCTYPE html> with no explanations, no markdown formatting, no code blocks - just pure HTML.\"\n    }\n  ]\n}", 
         "sendHeaders": true, 
         "headerParameters": { 
           "parameters": [ 
             { 
               "name": "x-api-key", 
               "value": "YOUR_ANTHROPIC_API_KEY" 
             }, 
             { 
               "name": "anthropic-version", 
               "value": "2023-06-01" 
             }, 
             { 
               "name": "content-type", 
               "value": "application/json" 
             } 
           ] 
         }, 
         "options": {} 
       }, 
       "id": "node-8", 
       "name": "Generate Website (Claude)", 
       "type": "n8n-nodes-base.httpRequest", 
       "typeVersion": 4.2, 
       "position": [1780, 300] 
     }, 
     { 
       "parameters": { 
         "jsCode": "// Extract HTML from Claude response\nconst websiteHTML = $input.item.json.content[0].text;\n\n// Get business info from previous node\nconst businessName = $('Extract Lead Data').item.json.businessName;\n\n// Create URL-friendly slug\nconst businessSlug = businessName\n  .toLowerCase()\n  .replace(/[^a-z0-9\\s-]/g, '')\n  .replace(/\\s+/g, '-')\n  .substring(0, 50); // Limit length\n\n// Generate unique filename\nconst timestamp = Date.now();\nconst fileName = `${businessSlug}-${timestamp}`;\n\nreturn {\n  websiteHTML: websiteHTML,\n  businessSlug: fileName,\n  fileName: `${fileName}.html`\n};" 
       }, 
       "id": "node-9", 
       "name": "Prepare Website", 
       "type": "n8n-nodes-base.code", 
       "typeVersion": 2, 
       "position": [2000, 300] 
     }, 
     { 
       "parameters": { 
         "method": "POST", 
         "url": "https://api.netlify.com/api/v1/sites", 
         "authentication": "predefinedCredentialType", 
         "nodeCredentialType": "httpHeaderAuth", 
         "sendBody": true, 
         "specifyBody": "json", 
         "jsonBody": "={\n  \"name\": \"{{ $json.businessSlug }}\"\n}", 
         "sendHeaders": true, 
         "headerParameters": { 
           "parameters": [ 
             { 
               "name": "Authorization", 
               "value": "Bearer YOUR_NETLIFY_TOKEN" 
             }, 
             { 
               "name": "Content-Type", 
               "value": "application/json" 
             } 
           ] 
         }, 
         "options": {} 
       }, 
       "id": "node-10", 
       "name": "Create Netlify Site", 
       "type": "n8n-nodes-base.httpRequest", 
       "typeVersion": 4.2, 
       "position": [2220, 300] 
     }, 
     { 
       "parameters": { 
         "method": "PUT", 
         "url": "=https://api.netlify.com/api/v1/sites/{{ $json.id }}/files/{{ $('Prepare Website').item.json.fileName }}", 
         "authentication": "predefinedCredentialType", 
         "nodeCredentialType": "httpHeaderAuth", 
         "sendBody": true, 
         "specifyBody": "string", 
         "body": "={{ $('Prepare Website').item.json.websiteHTML }}", 
         "sendHeaders": true, 
         "headerParameters": { 
           "parameters": [ 
             { 
               "name": "Authorization", 
               "value": "Bearer YOUR_NETLIFY_TOKEN" 
             }, 
             { 
               "name": "Content-Type", 
               "value": "text/html" 
             } 
           ] 
         }, 
         "options": {} 
       }, 
       "id": "node-11", 
       "name": "Deploy Website", 
       "type": "n8n-nodes-base.httpRequest", 
       "typeVersion": 4.2, 
       "position": [2440, 300] 
     }, 
     { 
       "parameters": { 
         "operation": "update", 
         "documentId": { 
           "__rl": true, 
           "value": "YOUR_GOOGLE_SHEET_ID", 
           "mode": "id" 
         }, 
         "sheetName": { 
           "__rl": true, 
           "value": "Leads", 
           "mode": "name" 
         }, 
         "columns": { 
           "mappingMode": "defineBelow", 
           "value": { 
             "Website URL": "={{ $('Create Netlify Site').item.json.url }}", 
             "Status": "Website Created", 
             "Next Action": "Send Email" 
           } 
         }, 
         "options": { 
           "cellFormat": "USER_ENTERED" 
         } 
       }, 
       "id": "node-12", 
       "name": "Update Sheet - Website", 
       "type": "n8n-nodes-base.googleSheets", 
       "typeVersion": 4.5, 
       "position": [2660, 300], 
       "credentials": { 
         "googleSheetsOAuth2Api": { 
           "id": "REPLACE_WITH_YOUR_GOOGLE_CREDS", 
           "name": "Google Sheets account" 
         } 
       } 
     }, 
     { 
       "parameters": { 
         "amount": 5, 
         "unit": "minutes" 
       }, 
       "id": "node-13", 
       "name": "Wait 5 Minutes", 
       "type": "n8n-nodes-base.wait", 
       "typeVersion": 1.1, 
       "position": [2880, 300], 
       "webhookId": "auto-generated-webhook-id" 
     }, 
     { 
       "parameters": { 
         "sendTo": "={{ $('Extract Lead Data').item.json.email }}", 
         "subject": "={{ $('Extract Lead Data').item.json.businessName }} - Your Free Website is Live!", 
         "emailType": "html", 
         "message": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n</head>\n<body style=\"margin:0; padding:0; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, sans-serif; background: #f5f5f5;\">\n  <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"max-width: 600px; margin: 0 auto; background: #ffffff;\">\n    \n    <!-- Header -->\n    <tr>\n      <td style=\"background: linear-gradient(135deg, #4A90E2 0%, #357ABD 100%); padding: 40px 30px; text-align: center;\">\n        <h1 style=\"color: #ffffff; font-size: 28px; margin: 0; font-weight: 700;\">🎉 Your Website is Ready!</h1>\n        <p style=\"color: #ffffff; font-size: 18px; margin: 10px 0 0 0;\">{{ $('Extract Lead Data').item.json.businessName }}</p>\n      </td>\n    </tr>\n\n    <!-- Urgency Banner -->\n    <tr>\n      <td style=\"background: #fff3cd; border-left: 4px solid #ffc107; padding: 15px 30px;\">\n        <p style=\"margin: 0; color: #856404; font-size: 14px; font-weight: 600;\">⏰ <strong>Limited Time:</strong> This offer expires in 7 days</p>\n      </td>\n    </tr>\n\n    <!-- Main Content -->\n    <tr>\n      <td style=\"padding: 30px;\">\n        \n        <p style=\"color: #333; font-size: 16px; line-height: 1.6; margin: 0 0 15px;\">Hi {{ $('Extract Lead Data').item.json.contactName || 'there' }},</p>\n\n        <p style=\"color: #333; font-size: 16px; line-height: 1.6; margin: 0 0 15px;\">I hope this email finds you well! My name is <strong>YOUR_NAME</strong>, and I run a digital automation agency in Spring, Texas.</p>\n\n        <p style=\"color: #333; font-size: 16px; line-height: 1.6; margin: 0 0 20px;\">I came across <strong>{{ $('Extract Lead Data').item.json.businessName }}</strong> and noticed you don't have a professional website yet — so I took the liberty of building you one to show you what's possible.</p>\n\n        <!-- Website Preview -->\n        <div style=\"background: #f0f8ff; border: 2px solid #4A90E2; border-radius: 8px; padding: 25px; text-align: center; margin: 25px 0;\">\n          <h2 style=\"color: #4A90E2; font-size: 22px; margin: 0 0 15px;\">👇 Your Live Website is Ready</h2>\n          \n          <a href=\"{{ $('Create Netlify Site').item.json.url }}\" style=\"display: inline-block; background: #4A90E2; color: #ffffff; padding: 15px 35px; text-decoration: none; border-radius: 5px; font-weight: 700; font-size: 16px; margin: 10px 0;\">VIEW YOUR WEBSITE NOW</a>\n          \n          <p style=\"margin: 15px 0 0; color: #666; font-size: 13px;\">{{ $('Create Netlify Site').item.json.url }}</p>\n        </div>\n\n        <!-- Features -->\n        <h3 style=\"color: #333; font-size: 18px; margin: 25px 0 15px;\">Here's what I included:</h3>\n        \n        <table width=\"100%\" cellpadding=\"5\" cellspacing=\"0\">\n          <tr><td style=\"color: #333; font-size: 15px; line-height: 1.8;\">✅ Modern, professional design</td></tr>\n          <tr><td style=\"color: #333; font-size: 15px; line-height: 1.8;\">✅ Mobile-responsive (looks great on all devices)</td></tr>\n          <tr><td style=\"color: #333; font-size: 15px; line-height: 1.8;\">✅ Contact form for inquiries</td></tr>\n          <tr><td style=\"color: #333; font-size: 15px; line-height: 1.8;\">✅ Services showcase</td></tr>\n          <tr><td style=\"color: #333; font-size: 15px; line-height: 1.8;\">✅ Professional branding</td></tr>\n          <tr><td style=\"color: #333; font-size: 15px; line-height: 1.8;\">✅ Optimized for Google search</td></tr>\n        </table>\n\n        <!-- Pricing -->\n        <div style=\"text-align: center; margin: 30px 0; padding: 25px; background: #f8f9fa; border-radius: 8px;\">\n          <p style=\"margin: 0; color: #999; font-size: 18px; text-decoration: line-through;\">Regular Price: $2,500</p>\n          <p style=\"margin: 10px 0; color: #4A90E2; font-size: 36px; font-weight: 700;\">Your Price: $500</p>\n          <p style=\"margin: 15px 0 20px; color: #555; font-size: 14px;\">One-time payment • No monthly fees</p>\n          \n          <a href=\"YOUR_STRIPE_PAYMENT_LINK?prefilled_email={{ $('Extract Lead Data').item.json.email }}\" style=\"display: inline-block; background: #4A90E2; color: #ffffff; padding: 18px 40px; text-decoration: none; border-radius: 5px; font-weight: 700; font-size: 18px;\">SECURE THIS WEBSITE FOR $500</a>\n        </div>\n\n        <!-- What's Next -->\n        <h3 style=\"color: #333; font-size: 18px; margin: 25px 0 15px;\">What happens after you secure it?</h3>\n        \n        <ol style=\"color: #333; font-size: 15px; line-height: 1.8; padding-left: 20px;\">\n          <li>I'll transfer full ownership to you within 24 hours</li>\n          <li>Connect your custom domain (if you have one)</li>\n          <li>Set up email routing for inquiries</li>\n          <li>Provide basic training on making updates</li>\n          <li>Include 30 days of support and adjustments</li>\n        </ol>\n\n        <p style=\"color: #333; font-size: 16px; line-height: 1.6; margin: 20px 0;\">No pressure at all — the website is live for you to review. If you have any questions or want to discuss customizations, just reply to this email or call me at <strong>YOUR_PHONE</strong>.</p>\n\n        <p style=\"color: #333; font-size: 16px; line-height: 1.6; margin: 15px 0 0;\">Looking forward to hearing what you think!</p>\n\n        <p style=\"color: #333; font-size: 16px; line-height: 1.6; margin: 20px 0 0;\">Best regards,<br><strong>YOUR_NAME</strong><br>YOUR_BUSINESS_NAME<br>AI Solutions & Digital Automation<br>Spring, Texas 77379<br><a href=\"mailto:YOUR_EMAIL\" style=\"color: #4A90E2;\">YOUR_EMAIL</a> | YOUR_PHONE</p>\n\n      </td>\n    </tr>\n\n    <!-- Footer -->\n    <tr>\n      <td style=\"background: #f8f9fa; padding: 25px; text-align: center; border-top: 1px solid #e0e0e0;\">\n        <p style=\"margin: 0 0 5px; color: #333; font-size: 14px; font-weight: 600;\">YOUR_BUSINESS_NAME</p>\n        <p style=\"margin: 0 0 10px; color: #666; font-size: 12px;\">AI Solutions, Automation & Web Development</p>\n        <p style=\"margin: 0 0 10px; color: #666; font-size: 12px;\">Spring, TX 77379</p>\n        <p style=\"margin: 0; color: #666; font-size: 12px;\"><a href=\"YOUR_WEBSITE\" style=\"color: #4A90E2; text-decoration: none;\">YOUR_WEBSITE</a></p>\n      </td>\n    </tr>\n\n  </table>\n</body>\n</html>", 
         "options": {} 
       }, 
       "id": "node-14", 
       "name": "Send Email (Gmail)", 
       "type": "n8n-nodes-base.gmail", 
       "typeVersion": 2.1, 
       "position": [3100, 300], 
       "credentials": { 
         "gmailOAuth2": { 
           "id": "REPLACE_WITH_YOUR_GMAIL_CREDS", 
           "name": "Gmail account" 
         } 
       } 
     },
     { 
       "parameters": { 
         "operation": "update", 
         "documentId": { 
           "__rl": true, 
           "value": "YOUR_GOOGLE_SHEET_ID", 
           "mode": "id" 
         }, 
         "sheetName": { 
           "__rl": true, 
           "value": "Leads", 
           "mode": "name" 
         }, 
         "columns": { 
           "mappingMode": "defineBelow", 
           "value": { 
             "Email Sent": "TRUE", 
             "Email Sent Date": "={{ $now.toFormat('yyyy-MM-dd HH:mm:ss') }}", 
             "Status": "Email Sent", 
             "Next Action": "Done"
           } 
         }, 
         "options": {} 
       }, 
       "id": "node-15", 
       "name": "Update Sheet - Email Sent", 
       "type": "n8n-nodes-base.googleSheets", 
       "typeVersion": 4.5, 
       "position": [3320, 300], 
       "credentials": { 
         "googleSheetsOAuth2Api": { 
           "id": "REPLACE_WITH_YOUR_GOOGLE_CREDS", 
           "name": "Google Sheets account" 
         } 
       } 
     } 
   ], 
   "connections": {
    "Schedule: Daily 9 AM": { "main": [ [ { "node": "Set Target Industry", "type": "main", "index": 0 } ] ] },
    "Set Target Industry": { "main": [ [ { "node": "Scrape Google Maps", "type": "main", "index": 0 } ] ] },
    "Scrape Google Maps": { "main": [ [ { "node": "Split Leads", "type": "main", "index": 0 } ] ] },
    "Split Leads": { "main": [ [ { "node": "Extract Lead Data", "type": "main", "index": 0 } ] ] },
    "Extract Lead Data": { "main": [ [ { "node": "Filter Valid Emails", "type": "main", "index": 0 } ] ] },
    "Filter Valid Emails": { "main": [ [ { "node": "Add to Google Sheet", "type": "main", "index": 0 } ] ] },
    "Add to Google Sheet": { "main": [ [ { "node": "Generate Website (Claude)", "type": "main", "index": 0 } ] ] },
    "Generate Website (Claude)": { "main": [ [ { "node": "Prepare Website", "type": "main", "index": 0 } ] ] },
    "Prepare Website": { "main": [ [ { "node": "Create Netlify Site", "type": "main", "index": 0 } ] ] },
    "Create Netlify Site": { "main": [ [ { "node": "Deploy Website", "type": "main", "index": 0 } ] ] },
    "Deploy Website": { "main": [ [ { "node": "Update Sheet - Website", "type": "main", "index": 0 } ] ] },
    "Update Sheet - Website": { "main": [ [ { "node": "Wait 5 Minutes", "type": "main", "index": 0 } ] ] },
    "Wait 5 Minutes": { "main": [ [ { "node": "Send Email (Gmail)", "type": "main", "index": 0 } ] ] },
    "Send Email (Gmail)": { "main": [ [ { "node": "Update Sheet - Email Sent", "type": "main", "index": 0 } ] ] }
   }
}