workflows/quick-sale-lead-gen-machine.json
{
  "name": "Quick Sale Lead Gen Machine",
  "nodes": [
    {
      "parameters": {
        "query": "dentist in houston tx",
        "limit": 100,
        "enrichment": true
      },
      "id": "ampfyi_scraper",
      "name": "Ampfyi Google Maps Scraper",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        250,
        300
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "1",
          "name": "Ampfyi API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.rating }}",
              "operation": "largerEqual",
              "value2": "4.0"
            },
            {
              "value1": "={{ $json.reviews }}",
              "operation": "largerEqual",
              "value2": "10"
            },
            {
              "value1": "={{ $json.phone }}",
              "operation": "isNotEmpty"
            },
            {
              "value1": "={{ $json.email }}",
              "operation": "isNotEmpty"
            }
          ]
        },
        "combineOperation": "all"
      },
      "id": "filter_hot_leads",
      "name": "Filter Hot Prospects",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "model": "gpt-4o-mini",
        "messages": {
          "values": [
            {
              "content": "=You are a website audit expert for {{ $json.category || 'service' }} businesses.\n\nAnalyze this business:\nName: {{ $json.title }}\nWebsite: {{ $json.website || 'NO WEBSITE' }}\nLocation: {{ $json.city }}, {{ $json.state }}\nRating: {{ $json.rating }}/5 ({{ $json.reviews }} reviews)\n\nProvide a short, punchy 3-sentence email opener complimenting them on their high rating but pointing out 1 specific improvement they could make to their website or online presence to get even more customers. Keep it casual and helpful.",
              "role": "user"
            }
          ]
        },
        "options": {}
      },
      "id": "gpt_analysis",
      "name": "GPT Analysis",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        650,
        300
      ],
      "credentials": {
        "openAiApi": {
          "id": "openai_cred",
          "name": "OpenAI Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const lead = $('Filter Hot Prospects').item.json;\nconst audit = $input.item.json.content || $input.item.json.message.content;\n\nconst businessName = lead.title;\nconst slug = businessName.toLowerCase().replace(/[^a-z0-9]+/g, '-').replace(/(^-|-$)/g, '');\nconst landingPageUrl = `https://royal-ascend-site.lovable.app/template?business_name=${encodeURIComponent(businessName)}`;\n\nreturn {\n  json: {\n    ...lead,\n    audit_result: audit,\n    landing_page_slug: slug,\n    landing_page_url: landingPageUrl,\n    status: 'Scraped - Not Contacted'\n  }\n};"
      },
      "id": "format_data",
      "name": "Format Data & Generate Link",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "baseId": {
          "__rl": true,
          "value": "appYOURBASEID",
          "mode": "string"
        },
        "table": {
          "__rl": true,
          "value": "Prospects",
          "mode": "string"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Business Name": "={{ $json.title }}",
            "Phone": "={{ $json.phone }}",
            "Email": "={{ $json.email }}",
            "Website": "={{ $json.website }}",
            "City": "={{ $json.city }}",
            "State": "={{ $json.state }}",
            "Rating": "={{ $json.rating }}",
            "Reviews": "={{ $json.reviews }}",
            "Category": "={{ $json.category }}",
            "Audit Results": "={{ $json.audit_result }}",
            "Landing Page Slug": "={{ $json.landing_page_slug }}",
            "Landing Page URL": "={{ $json.landing_page_url }}",
            "Status": "Scraped - Not Contacted",
            "Google Maps URL": "={{ $json.url }}",
            "Address": "={{ $json.address }}"
          }
        },
        "options": {}
      },
      "id": "create_airtable",
      "name": "Create Prospect in Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        1050,
        300
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "airtable_cred",
          "name": "Airtable Personal Access Token"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "Quick question about {{ $json['Business Name'] }}",
        "message": "={{ $json['Audit Results'] }}\n\nI actually mocked up a demo of what a modernized site could look like for you here:\n{{ $json['Landing Page URL'] }}\n\nLet me know if you'd be open to chatting about this?\n\nBest,\n[Your Name]",
        "options": {}
      },
      "id": "send_email",
      "name": "Send Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1250,
        300
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail_cred",
          "name": "Gmail Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "baseId": {
          "__rl": true,
          "value": "appYOURBASEID",
          "mode": "string"
        },
        "table": {
          "__rl": true,
          "value": "Prospects",
          "mode": "string"
        },
        "id": "={{ $json.id }}",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Email Sent",
            "Email Sent": true
          }
        },
        "options": {}
      },
      "id": "update_airtable",
      "name": "Update Status in Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        1450,
        300
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "airtable_cred",
          "name": "Airtable Personal Access Token"
        }
      }
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=🚀 New Lead Contacted!\n\nBusiness: {{ $json['Business Name'] }}\nEmail: {{ $json.Email }}\nLanding Page: {{ $json['Landing Page URL'] }}",
        "additionalFields": {}
      },
      "id": "notify_telegram",
      "name": "Notify Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1650,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "telegram_cred",
          "name": "Telegram Bot Account"
        }
      }
    },
    {
      "parameters": {
        "amount": 48,
        "unit": "hours"
      },
      "id": "wait_day_2",
      "name": "Wait 48h (Day 2)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1850,
        300
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "baseId": {
          "__rl": true,
          "value": "appYOURBASEID",
          "mode": "string"
        },
        "table": {
          "__rl": true,
          "value": "Prospects",
          "mode": "string"
        },
        "id": "={{ $json.id }}",
        "options": {}
      },
      "id": "get_prospect_day_2",
      "name": "Get Prospect (Day 2)",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        2050,
        300
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "airtable_cred",
          "name": "Airtable Personal Access Token"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json['Email Opened'] }}",
              "value2": false
            }
          ],
          "string": [
            {
              "value1": "={{ $json['Status'] }}",
              "value2": "Email Sent"
            }
          ]
        }
      },
      "id": "check_day_2",
      "name": "Check: Not Opened?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2250,
        300
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "Did you see this? ({{ $json['Business Name'] }})",
        "message": "=Quick follow-up - wanted to make sure you saw the audit I put together for {{ $json['Business Name'] }}.\n\nThe TL;DR: You're potentially losing customers due to [biggest issue from audit].\n\nHere's the full breakdown: {{ $json['Landing Page URL'] }}\n\nWant me to show you how to fix it? Reply 'YES' and I'll send you a time.",
        "options": {}
      },
      "id": "email_day_2",
      "name": "Follow Up Email - Day 2",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2450,
        200
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail_cred",
          "name": "Gmail Account"
        }
      }
    },
    {
      "parameters": {
        "amount": 48,
        "unit": "hours"
      },
      "id": "wait_day_4",
      "name": "Wait 48h (Day 4)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2650,
        300
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "baseId": {
          "__rl": true,
          "value": "appYOURBASEID",
          "mode": "string"
        },
        "table": {
          "__rl": true,
          "value": "Prospects",
          "mode": "string"
        },
        "id": "={{ $json.id }}",
        "options": {}
      },
      "id": "get_prospect_day_4",
      "name": "Get Prospect (Day 4)",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        2850,
        300
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "airtable_cred",
          "name": "Airtable Personal Access Token"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json['Email Opened'] }}",
              "value2": true
            },
            {
              "value1": "={{ $json['Link Clicked'] }}",
              "value2": false
            }
          ]
        }
      },
      "id": "check_day_4",
      "name": "Check: Opened but No Click?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3050,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.vapi.ai/call",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phoneNumberId",
              "value": "YOUR_VAPI_PHONE_ID"
            },
            {
              "name": "assistantId",
              "value": "YOUR_VAPI_ASSISTANT_ID"
            },
            {
              "name": "customer",
              "value": "={{ {\"number\": $json.Phone, \"name\": $json['Business Name']} }}"
            }
          ]
        },
        "options": {}
      },
      "id": "vapi_call",
      "name": "Vapi Outbound Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        3250,
        200
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "vapi_cred",
          "name": "Vapi API"
        }
      }
    },
    {
      "parameters": {
        "amount": 72,
        "unit": "hours"
      },
      "id": "wait_day_7",
      "name": "Wait 3 Days (Day 7)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        3450,
        300
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "baseId": {
          "__rl": true,
          "value": "appYOURBASEID",
          "mode": "string"
        },
        "table": {
          "__rl": true,
          "value": "Prospects",
          "mode": "string"
        },
        "id": "={{ $json.id }}",
        "options": {}
      },
      "id": "get_prospect_day_7",
      "name": "Get Prospect (Day 7)",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        3650,
        300
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "airtable_cred",
          "name": "Airtable Personal Access Token"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json['Status'] }}",
              "operation": "notEqual",
              "value2": "Replied"
            },
             {
              "value1": "={{ $json['Status'] }}",
              "operation": "notEqual",
              "value2": "Call Booked"
            },
             {
              "value1": "={{ $json['Status'] }}",
              "operation": "notEqual",
              "value2": "Won"
            },
             {
              "value1": "={{ $json['Status'] }}",
              "operation": "notEqual",
              "value2": "Lost"
            }
          ]
        },
        "combineOperation": "all"
      },
      "id": "check_day_7",
      "name": "Check: No Response?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        3850,
        300
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "Should I close your file?",
        "message": "=Hey {{ $json['Business Name'] }},\n\nI haven't heard back, so I'm assuming now isn't the right time.\n\nI'm going to close your file, but before I do - is there anything holding you back from fixing your website issues?\n\nJust reply and let me know.\n\nBest,\nRoy",
        "options": {}
      },
      "id": "breakup_email",
      "name": "Breakup Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        4050,
        200
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail_cred",
          "name": "Gmail Account"
        }
      }
    }
  ],
  "connections": {
    "Ampfyi Google Maps Scraper": {
      "main": [
        [
          {
            "node": "Filter Hot Prospects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Hot Prospects": {
      "main": [
        [
          {
            "node": "GPT Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT Analysis": {
      "main": [
        [
          {
            "node": "Format Data & Generate Link",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Data & Generate Link": {
      "main": [
        [
          {
            "node": "Create Prospect in Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Prospect in Airtable": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Update Status in Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status in Airtable": {
      "main": [
        [
          {
            "node": "Notify Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Telegram": {
      "main": [
        [
          {
            "node": "Wait 48h (Day 2)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 48h (Day 2)": {
      "main": [
        [
          {
            "node": "Get Prospect (Day 2)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Prospect (Day 2)": {
      "main": [
        [
          {
            "node": "Check: Not Opened?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Not Opened?": {
      "main": [
        [
          {
            "node": "Follow Up Email - Day 2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 48h (Day 4)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Follow Up Email - Day 2": {
      "main": [
        [
          {
            "node": "Wait 48h (Day 4)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 48h (Day 4)": {
      "main": [
        [
          {
            "node": "Get Prospect (Day 4)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Prospect (Day 4)": {
      "main": [
        [
          {
            "node": "Check: Opened but No Click?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Opened but No Click?": {
      "main": [
        [
          {
            "node": "Vapi Outbound Call",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 3 Days (Day 7)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vapi Outbound Call": {
      "main": [
        [
          {
            "node": "Wait 3 Days (Day 7)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 3 Days (Day 7)": {
      "main": [
        [
          {
            "node": "Get Prospect (Day 7)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Prospect (Day 7)": {
      "main": [
        [
          {
            "node": "Check: No Response?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: No Response?": {
      "main": [
        [
          {
            "node": "Breakup Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}